.googleImg {
	position: relative;
	width: 20vw;
	height: auto;
	opacity: 1;
	cursor: pointer;
	z-index: 10;
	margin-top: 20%;
}
.vitE {
	top: 693px;
	left: 701px;
	width: 518px;
	height: 41px;
	text-align: center;
	font: normal normal 300 35px/41px Raleway;
	letter-spacing: 0.88px;
	color: #f8b652;
	opacity: 1;
	z-index: 10;
	font-size: 5rem;
	line-height: 5rem;
}

.signIn-enter {
	transform: translateY(500px);
	opacity: 0;
}
.signIn-enter-active {
	opacity: 1;
	transform: translateY(0px);
	transition: all 1500ms;
}
.signIn-exit {
	transform: translateY(0px);
	opacity: 1;
}
.signIn-exit-active {
	transform: translateY(500px);
	opacity: 0;
	transition: all 1500ms;
}

.landingLogo {
	margin: auto;
	text-align: center;
	margin-top: -9%;
	margin-bottom: -5%;
	width: 70vw;
	height: auto;
	transition: all 800;
	transition: margin 600ms;
}

.qwe {
	text-align: center;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	top: 50%;
	z-index: 10;
}

@media only screen and (max-width: 1500px) {
	.landingLogo {
		width: 90vw;
	}
}
@media only screen and (max-width: 700px) {
	.googleImg {
		width: 80%;
	}
	.vitE {
		font-size: 2rem;
	}
	.qwe {
		width: 80vw;
	}
}
